* {
  margin: 0;
}

header {
  background-color: rgba(0, 81, 255, 0.705);
  padding-top: 10px;
  padding-bottom: 10px;
}
.header {
  display: flex;
  align-items: center;

  margin: 0 auto;
  width: 95%;
}
.log {
  text-align: right;
}
.header > div {
  width: 50%;
}
.content {
  width: 95%;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0;
}
.left {
  width: 20%;
  padding-top: 15px;
  margin-left: 10px;
}
main {
  display: flex;
  justify-content: space-between;
}
.boss {
  width: 50%;
  padding-top: 15px;
}
.boss h2 {
  margin-top: 0px;
}
.news {
  width: 100%;
}
.boss * {
  margin-bottom: 30px;
}
main img {
  width: 100%;
}
.rec_item {
  padding: 15px;
  border: 1px solid gray;
}
.rec_item h4,
p {
  margin-bottom: 10px;
}
.recs {
  width: 100%;
  padding-top: 15px;
}
.border {
  border: 1px solid gray;
  padding: 15px;
}

.profile_info ul li {
  border-top: 1px solid black;
}
li {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.right {
  width: 20%;
  margin-right: 10px;
}
.header a {
  color: white;
  text-decoration: none;
}
main a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: blue;
}
button {
  background-color: blue;
  border-color: blue;
  border-radius: 5px;
  padding: 7px 15px;
}
.profile {
  border: 1px solid gray;
}

button:hover {
  background-color: rgb(96, 96, 247);
}
.log a:hover {
  color: black;
}
.switch:hover {
  color: black;
}
span {
  float: right;
}
.profile_info {
  padding: 0;
}

.profile_general {
  padding: 0 15px;
}
.rec_item:hover {
  background-color: rgb(196, 196, 196);
}
